body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}
    h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 30px;
        color: rgb(165, 42, 79);
        font-style: italic;
        }
    p{
    text-align: center;

}
#menu {
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    margin-right: auto;
    }
    #menu a {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 800px;
    padding-left: 50px;
    padding-right: 70px;
    }
    
    #menu a:hover {
    color:#000000  ; }

section p { text-align: left;
    }

.gallery img {
    width: 400px;
    height: 400px;
    margin-left: 35px;
    margin-top: 10px;    
    border: 2px solid rgb(92, 85, 85);
}
.container{
    background-color: rgb(255, 255, 255);
    margin: 20px;
}
.images{
    display: flex;
    align-items: center;
}
.property{
    border: 2px solid #f487ff;
    margin: 10px;
}
.images img{
    height:300px;
    width:410px;
}    
h5{
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: blue;
}
  .property button{
      height:40px;
      width: 100%;
      font-size: medium;
  }  
  .conta{
      background-color: chartreuse;
      margin: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center ;
  }